NRdata/.flows.json.backup
[{"id":"6ef11b95.234524","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"86006a3b.e98628","type":"http proxy","z":"","name":"","url":"","noproxy":[]},{"id":"598b2d63.9ac5f4","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":160,"wires":[["ee018463.275848"]]},{"id":"ee018463.275848","type":"http request","z":"6ef11b95.234524","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://165.22.121.46:3030/api/helloworld","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":160,"wires":[["538cf9c8.b88968"]]},{"id":"538cf9c8.b88968","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":180,"wires":[]},{"id":"5ff785c5.9555ec","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":480,"wires":[["5118aebb.76908"]]},{"id":"5118aebb.76908","type":"change","z":"6ef11b95.234524","name":"","rules":[{"t":"set","p":"HostA","pt":"global","to":"165.22.121.46:3030","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":480,"wires":[[]]},{"id":"471a4c94.a3a6c4","type":"http request","z":"6ef11b95.234524","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"{{HostB}}/api/helloworld","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":240,"wires":[["18024a4d.6003b6"]]},{"id":"79241ade.d4c3a4","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":240,"wires":[["557d5869.60f378"]]},{"id":"18024a4d.6003b6","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":260,"wires":[]},{"id":"557d5869.60f378","type":"change","z":"6ef11b95.234524","name":"","rules":[{"t":"set","p":"HostB","pt":"msg","to":"165.22.121.46:3030","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[["471a4c94.a3a6c4"]]},{"id":"fa1dc76e.cbc9f8","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":300,"wires":[["486e59ce.d4b428"]]},{"id":"486e59ce.d4b428","type":"change","z":"6ef11b95.234524","name":"","rules":[{"t":"set","p":"HostE","pt":"msg","to":"HostA","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["dc310cdc.a9659"]]},{"id":"dc310cdc.a9659","type":"http request","z":"6ef11b95.234524","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"{{HostE}}/api/helloworld","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":300,"wires":[["9760e606.e89128"]]},{"id":"9760e606.e89128","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":320,"wires":[]},{"id":"558af43e.60ebdc","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"HostA","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["6da1795f.287288","e9683530.d8d908"]]},{"id":"6da1795f.287288","type":"http request","z":"6ef11b95.234524","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"{{payload}}/api/helloworld","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":360,"wires":[["1ca85449.eae1ec"]]},{"id":"1ca85449.eae1ec","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":380,"wires":[]},{"id":"e9683530.d8d908","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":440,"wires":[]},{"id":"da6fcd60.df16b","type":"http request","z":"6ef11b95.234524","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://165.22.121.46:3080/api/login","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":620,"wires":[["a895f051.81021","1c71339d.6c014c"]]},{"id":"7a8018de.5e2858","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"{\"username\":\"rob\",\"password\":\"secret\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":620,"wires":[["da6fcd60.df16b"]]},{"id":"a895f051.81021","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":620,"wires":[]},{"id":"35a4681c.761fb8","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":680,"wires":[]},{"id":"1c71339d.6c014c","type":"change","z":"6ef11b95.234524","name":"","rules":[{"t":"set","p":"token1","pt":"global","to":"payload.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":680,"wires":[["35a4681c.761fb8"]]},{"id":"8f12be5b.517d6","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":700,"wires":[["bd33afb7.8718e"]]},{"id":"2ef49e3e.e1c2e2","type":"http request","z":"6ef11b95.234524","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://165.22.121.46:3080/api/db/testDB1","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":740,"wires":[["366c72e.68fc08e"]]},{"id":"bd33afb7.8718e","type":"function","z":"6ef11b95.234524","name":"set json & headers","func":"var token2set = global.get(\"token1\");\n\nlet jsonIn = { \n       \"this\": {\n         \"is\": \"cool\",\n         \"works\": \"great\"\n       }\n     };\nmsg.payload = jsonIn;\n\nmsg.headers = {};\nmsg.headers['Content-type'] = \"application/json\";\nmsg.headers['Authorization'] = \"Bearer \"+ token2set;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":720,"wires":[["2ef49e3e.e1c2e2","8c7ae1a.c5da32"]]},{"id":"366c72e.68fc08e","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":740,"wires":[]},{"id":"8c7ae1a.c5da32","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":820,"wires":[]}]