NRdata/flows.json
[{"id":"6ef11b95.234524","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"86006a3b.e98628","type":"http proxy","z":"","name":"","url":"","noproxy":[]},{"id":"598b2d63.9ac5f4","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":160,"wires":[["ee018463.275848"]]},{"id":"ee018463.275848","type":"http request","z":"6ef11b95.234524","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://165.22.121.46:3030/api/helloworld","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":160,"wires":[["538cf9c8.b88968"]]},{"id":"538cf9c8.b88968","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":180,"wires":[]},{"id":"5ff785c5.9555ec","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":480,"wires":[["5118aebb.76908"]]},{"id":"5118aebb.76908","type":"change","z":"6ef11b95.234524","name":"","rules":[{"t":"set","p":"HostA","pt":"global","to":"165.22.121.46:3030","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":480,"wires":[[]]},{"id":"471a4c94.a3a6c4","type":"http request","z":"6ef11b95.234524","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"{{HostB}}/api/helloworld","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":240,"wires":[["18024a4d.6003b6"]]},{"id":"79241ade.d4c3a4","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":240,"wires":[["557d5869.60f378"]]},{"id":"18024a4d.6003b6","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":260,"wires":[]},{"id":"557d5869.60f378","type":"change","z":"6ef11b95.234524","name":"","rules":[{"t":"set","p":"HostB","pt":"msg","to":"165.22.121.46:3030","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[["471a4c94.a3a6c4"]]},{"id":"fa1dc76e.cbc9f8","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":300,"wires":[["486e59ce.d4b428"]]},{"id":"486e59ce.d4b428","type":"change","z":"6ef11b95.234524","name":"","rules":[{"t":"set","p":"HostE","pt":"msg","to":"HostA","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["dc310cdc.a9659"]]},{"id":"dc310cdc.a9659","type":"http request","z":"6ef11b95.234524","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"{{HostE}}/api/helloworld","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":300,"wires":[["9760e606.e89128"]]},{"id":"9760e606.e89128","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":320,"wires":[]},{"id":"558af43e.60ebdc","type":"inject","z":"6ef11b95.234524","name":"","topic":"","payload":"HostA","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["6da1795f.287288","e9683530.d8d908"]]},{"id":"6da1795f.287288","type":"http request","z":"6ef11b95.234524","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"{{payload}}/api/helloworld","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":360,"wires":[["1ca85449.eae1ec"]]},{"id":"1ca85449.eae1ec","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":380,"wires":[]},{"id":"e9683530.d8d908","type":"debug","z":"6ef11b95.234524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":440,"wires":[]}]